#OSX
#-------------------------------------------------------------------------------
.DS_STORE

#Editor
#-------------------------------------------------------------------------------
.vscode

#General
#-------------------------------------------------------------------------------
dist
node_modules
*.tsx
yarn.lock
package-lock.json
